.job-card {
    width: calc(28% - 20px); /* Adjust as needed */
    margin: 17px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }
.circular-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  filter: blur(1px);
}

.company_logo_details{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 90px;
}
.company_logo{
  width: 50px;
}
.min_exp{
  margin-bottom: 2px;
  font-weight: 550;
  color: gray;
}
.job-image{
    width: 45px;
}


@media (max-width: 1037px) {
    .job-card {
      width: calc(45% - 20px);
    }
}

  @media (max-width: 768px) {
    .job-card {
      width: calc(95% - 20px); /* Display one card per row on smaller screens */
    }
  }